/* Home.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
    position: relative;
    width: 100vw;
    /* padding: 20px 10%; */
    justify-content: center;
    /* height: 100vh; */
    background-color: rgb(9, 27, 42);
    background-size: cover;
    background-position: center;
    padding: 150px 10% 0;
    
  }
  
  .home-photo {
   width: 100%;
    display: flex;
    justify-content: space-between;
   
  }
  
  .home-content {
 
    max-width: 600px;
  }
  
  .home-content h3 {
    font-size: 32px;
    font-weight: 700;
  }
  
  .home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
  }
  
  .home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
  }
  
  .home-content p {
    font-size: 20px;
  }
  
  .photo {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px cyan, 0 0 5px cyan, 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan;
  }
  
  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 0;
  }
  
  .home-sci a:hover {
    background: aqua;
    color: #081b29;
    box-shadow: 0 0 20px aqua;
  }
  
  .btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: aqua;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
  }
  
  .btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan;
  }